<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col-lg-12">
      <p class="text-center text-light display-4 pt-2 fontsize-25">My Library</p>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>

<div class="container-fluid fixed-bottom">
  <div class="row bg-dark">
    <div class="col-lg-12">
      <p class="text-center text-light pt-2 fontsize-10">&copy; 2020, Andika Andriana.</p>
    </div>
  </div>
</div>